.env
.env.*
!.env.example
.DS_Store
.turbo
node_modules
**/node_modules
dist
**/dist
.next
**/.next
coverage
**/coverage
playwright-report
test-results
*.log
*.tsbuildinfo
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
